name: Update Prices
on:
  schedule:
    - cron: '0 8 * * *' # Tous les jours à 8h
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # --- ÉTAPE VPN : Activation de Cloudflare WARP ---
      - name: Install & Connect WARP (VPN)
        uses: fscarmen/warp-on-actions@v1.1
        with:
          stack: dual # Change l'IP en IPv4 et IPv6

      - name: Install dependencies
        run: |
          pip install playwright requests
          playwright install chromium

      - name: Run scraper
        run: python scraper.py

      - name: Commit and push changes
        run: |
          git config --global user.name "Price Bot"
          git config --global user.email "bot@example.com"
          git add prices_history.json
          git commit -m "Update prices (via VPN)" || exit 0
          git push
